{% extends 'base.html' %}

{% block content %}
  <div class="container justify-content-center">
    <h2>
      {{ title }}
    </h2>
  </div>
  <div class="container">
    <div class="row row-cols">
      <div class="card-group">
        {% for card in cards %}
          <div class="col-6 col-md-4 p-2">
            <div class="card">
              <img src="../static/image/plate-160x120.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <p class="card-text">{{ card.descr }}</p>
                <a href="#" class="btn btn-primary">{{ card.price }} руб.</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}