{% extends 'base.html' %}

{% block title %}
  {{ super() }} - {{ title }}
{% endblock %}

{% block content %}

  <div class="about">
    <div class="container">
      <form method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="container">


          <form class="row g-3">
            <div class="col-md-6 mx-auto">
              <label for="username" class="form-label">Login</label>
              <input type="text" class="form-control form-control" name="username">
            </div>
            <div class="col-md-6 mx-auto">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control form-control" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col-md-6 mx-auto">
              <button type="submit" class="btn btn-primary mx-end">Submit</button>
            </div>
          </form>
        </div>


{% endblock %}